.header-telegramm{

    margin-left: -32px;
    display: flex;
    margin-top: -3px;
    color: #000 !important;
}
.header-telegramm img{

    margin-right: 10px;
}
.none{
    display: none !important;
}

.textPunkt{
   
    min-width: 500px !important;
}

.topten{
    margin-top: -10px !important;
  
}
.top{
        margin-top: -30px !important;
}
.bottom {
    padding-top: 10px;
}
.hightTop{
    margin-top: -150px !important;
}

@media (max-width:760px) {
    .header-telegramm img{
        display: none;
    }
      .header-telegramm {
        margin-left: 0;
      }
      .textPunkt{
   
  
     min-width: 300px !important;
   
}
.monileNone{
    display: none !important;
}
}